<div class="login-bg d-flex justify-content-center align-items-center">
  <div class="login-card">

    <div class="text-center mb-4">
      <h2 class="brand-title"> WatchVault</h2>
      <p class="brand-subtitle">Luxury Timepieces Collection</p>
    </div>

    <form (ngSubmit)="login()">

      <div class="form-group mb-3">
        <label>User Email</label>
        <input type="email" class="form-control custom-input" [(ngModel)]="useremail" name="email"
          placeholder="Enter your email" required>
      </div>

      <div class="form-group mb-3">
        <label>Password</label>
        <input type="password" class="form-control custom-input" [(ngModel)]="password" name="password"
          placeholder="Enter your password" required>
      </div>


      <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-gold">Login</button>
        <button type="reset" class="btn btn-outline-light">Clear</button>
      </div>

    </form>

    <div class="text-center mt-4">
      <small class="text-">New to WatchVault?</small><br>
      <button routerLink="/sign" class="btn btn-link text-gold">Create Account</button>
    </div>

  </div>
</div>