<div class="container-fixed">
  <div class="home">

    <div class="hero">
      <h1 class="title">WatchVault</h1>

      <p class="subtitle">
        Luxury Timepieces Crafted for Elegance & Precision
      </p>

      <button class="explore-btn" routerLink="/user/viewproduct" (click)="goToLogin()">
        Explore Now
      </button>
    </div>

    <div class="featured">
      <h2> Featured Collection</h2>
      <div class="watch-grid">

        <div class="watch-card">
          <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30" />
          <h4>Royal Gold Series</h4>
          <p>Premium handcrafted luxury watch</p>
        </div>

        <div class="watch-card">
          <img src="https://images.unsplash.com/photo-1522312346375-d1a52e2b99b3" />
          <h4>Black Edition</h4>
          <p>Elegant modern design</p>
        </div>

        <div class="watch-card">
          <img src="https://images.unsplash.com/photo-1508057198894-247b23fe5ade" />
          <h4>Classic Silver</h4>
          <p>Timeless perfection</p>
        </div>

      </div>
    </div>


    <div class="why">
      <h2> Why WatchVault?</h2>
      <div class="why-boxes">

        <div class="why-card">✔ 100% Authentic Watches</div>
        <div class="why-card">✔ Luxury Global Brands</div>
        <div class="why-card">✔ Fast Secure Delivery</div>
        <div class="why-card">✔ Premium Customer Support</div>

      </div>
    </div>

  </div>
</div>